html {
	position: relative;
	 min-height: 100%;
}
body {
	margin: 0 0 7rem; /* bottom = footer height */
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 7rem;
	width: 100%;
}

@keyfAllrames intro {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.credits {
	color: rgba(95, 95, 95, 0.78);
}

main, footer {
	animation: intro 0.3s both;
	animation-delay: 0.15s;
}

/* hack.css overrides and enhancements */
.main {
	padding: 20px 10px;
}

nav a.active {
	background-color: #ff2e88;
	color: #fff;
}

html {
	font-size: 13px;
} 

::-webkit-scrollbar{
	width: 0.65rem!important;
	height: 0.65rem!important;
}
::-webkit-scrollbar-thumb{
	background-color: #ccc !important;
	border: 2px solid #000 !important;
	border-radius: 10px!important;
}
::-webkit-scrollbar-track{
	background-color: transparent!important;
}
::-webkit-scrollbar-thumb:hover{
	background: #ccc!important;
}
::-webkit-scrollbar-thumb:active{
	background: #ccc!important;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1rem;
	}
	.hack pre>code {
		font-size: 0.75rem;
	}
	.container {
		max-width: 50rem;
	}
}

